$white: #fff;
$black: #000;
$nav: #bdbdbd;
$deepGray: #2e2e2e;
$light-gray: #c0c0c0;
$btn-active: #777777;
$zebra-table: #dbdbdb;

$hero-gradient: linear-gradient(45deg, rgba(50, 50, 50, 0.65), rgba(0, 0, 0, 0.9));

$box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.8);
